body{margin:0;font-family:Arial;background:#f5f7fa;color:#333}
.hero{background:#0d6efd;color:white;text-align:center;padding:80px}
.container{padding:50px;text-align:center}
.gray{background:#f0f2f5}
.skills{list-style:none;padding:0;display:grid;grid-template-columns:repeat(5,1fr);gap:15px}
.skills li{background:white;padding:10px;border-radius:6px;box-shadow:0 0 5px #ccc}
.btn{background:white;color:#0d6efd;padding:12px 30px;border-radius:5px;text-decoration:none}
.project a{color:#0d6efd;text-decoration:none;font-weight:bold}
.project{background:white;margin:20px;padding:20px;border-radius:8px}
